@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #777;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

h4 {
  font-family: "Poppins",sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

/* LISTINGS */
#list-title {
  text-align: center;
  color: #17a2b8;
}

.listing-img {
  vertical-align: middle;
  border-style: none;
  width: 300px;
  height: 200px;
}

.pt-100 {
  padding-top: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.single-list {
  padding-bottom: 30px;
}

.single-list .footer .ml-20 {
  margin-left: 20px;
}

.single-list .footer i {
  margin-right: 20px;
}

.single-list .detail {
  margin-left: 30px;
}

.single-list .price {
  position: absolute;
  font-size: 14px;
  padding: 15px;
  width: 85px;
  background-color: #222;
  text-align: center;
  color: #fff;
}

.single-list .price span {
  font-size: 24px;
  font-weight: 600;
}

.single-list .footer a {
  color: #777;
}

.single_widget {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 30px;
}

.search_widget .stylish-input-group .form-control, .top-section-area .stylish-input-group .form-control {
  border-right: 0;
  border-left: 0;
  box-shadow: 0 0 0;
  border-color: #eee;
  background-color: #f9f9ff;
}

.search_widget .cat_widget h4 {
  padding-top: 20px;
  margin-left: 12px;
}

.single_widget .form-group label {
  font-family: "Poppins",sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 14px;
}

.cat_widget a {
  color: #222;
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  background-color: #f9f9ff;
}

/* NAVBAR */

.navbar{
  padding: 0.8rem;

}

.btn{
  font-size: 1em;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}


.navbar-nav li{
  padding-right: 10px;
}

.nav-link{
  font-size: 1em !important;
} 

/* NAVIGATIAON-ALL*/

/* Carousel */
#wrapper {
  position: relative;
  height: 100%;
}

#slider-area {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

#slider-area .owl-item div {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.slider-text {
  position: absolute;
  z-index: 10;
  text-align: center;
}

.slider-text h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}

.col-lg-8 #imaginary_container {
  background: #fff;
  padding: 24px;
}

.carousel-caption{
position:absolute;
top:45%;
transform: translateY(-50%);
}

.carousel-caption h1{
  font-size:500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size:200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom:1rem;
}

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron{
  padding:1rem;
  padding-left:2rem;
  padding-right:2rem;

}

.howitworks{
  width:80%;
  margin:0 auto;
}

.howitworks hr{
  border-top: 2px solid #b4b4b4;
  width:90%;
}

.colsec{
  padding:1em;
  padding-bottom:2em;
}

.colsec h2{
  color:grey;

}

/* FOOTER - ALL PAGES*/
.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color:#00aced;
}

.fa-google-plus-g{
  color:#dd4b39;
}

.fa-instagram{
  color:#517fa4;
}

.social a:hover{
  color:#d5d5d5;
}

.social a{
  font-size:1em;
  color:white;
}

.about a{
  color:white;
}
.about a:hover{
  color:#d5d5d5;
}

footer{
  background-color: #6D696A;
  color:#d5d5d5;
  font-size:12px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width:60%;
}


hr.light-100{
  border-top: 1px solid #d5d5d5;
  width:100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0.5rem;
}

/*CSS FOR LOGIN PAGE*/
.container{
height: 100%;
align-content: center;
}

.card{
margin-top: 100px;
margin-bottom: 100px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FEDC3D;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FEDC3D;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/* Create */
.create-body .form-group label {
  font-family: "Poppins",sans-serif;
  color: white;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
}

.create-body .form-group span {
  text-align: center;
  color: #FEDC3D;
  font-size: 14px;
}