{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listings' %}">Listings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello, {{user.first_name }}! </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'dashboard' %}">My Listings</a>
                            <a class="dropdown-item" href="{% url 'dashboard' %}">My Profile</a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
                                Logout</a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="{% url 'create' %}" role="button">Create a listing</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="{% url 'login'%}" role="button">Create a listing</a>
                    <!--Must be logged in to create a listing-->
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'listings' %}">Listings</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'dashboard' %}"> Welcome, {{ user.first_name }} </a>
                </li>

                <li class="nav-item mr-3">
                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}"> Logout</a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'register' %}"> Register</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'login' %}"> Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> -->