{% extends 'base.html' %}
{% load static %}

{% block title %} | Register{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center h-100">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">REGISTER</h3>
                </div>
                <div class="card-body">
                    <!-- Errors -->
                    {% include 'partials/_alerts.html' %}
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in register_form %}
                        <p>
                            <span style="color: #fff">{{ field.label_tag }}</span><br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: #FEDC3D">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn">Sign up</button>
                        </div>
                    </form>
                    <!-- <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password2" placeholder="Confirm password"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="REGISTER" class="btn float-right login_btn">
                        </div>
                    </form> -->
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account? <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}