{% extends 'base.html' %}
{% load static %}

{% block title %} | Listings Page{% endblock %}

{% block content %}
<div class="post-wrapper pt-100">
    <section class="post-area">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <!-- Sidebar -->
                <div class="col-lg-3 sidebar-area">

                    <div class="single_widget search_widget">
                        <h4 class="pb-20">SEARCH</h4>
                        <div class="imaginary_container">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" placeholder="Keyword...">
                            </div>
                        </div>
                    </div>
                    <div class="single_widget cat_widget">
                        <h4 class="pb-20">AVAILABILITY</h4>
                        <a href="#">Available Now!</a>
                    </div>
                    <div class="single_widget cat_widget">
                        <h4 class="pb-20">DAILY RATE</h4>
                        <ul>
                            <li>
                                <a href="#">Under $15</a>
                            </li>
                            <li>
                                <a href="#">$15 - $30</a>
                            </li>
                            <li>
                                <a href="#">$30 - $50</a>
                            </li>
                            <li>
                                <a href="#">$50 - $75</a>
                            </li>
                            <li>
                                <a href="#">$75 and above</a>
                            </li>
                        </ul>
                    </div>
                    <div class="single_widget cat_widget">
                        <h4 class="pb-20">LOCATION</h4>
                        <ul>
                            <ul>
                                <li>
                                    <a href="#">North End</a>
                                </li>
                                <li>
                                    <a href="#">South End</a>
                                </li>
                                <li>
                                    <a href="#">East End</a>
                                </li>
                                <li>
                                    <a href="#">West End</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- Post list -->
                <div class="col-lg-9">
                    <hgroup class="pb-20">
                        <h4 class="lead">
                            <strong class="text-secondary"> 3 </strong> results were found for the search for <strong
                                class="text-secondary">Stuff</strong>
                        </h4>
                        <br>
                    </hgroup>
                    <!-- Listing 1 -->
                    <div class="single-list flex-row d-flex">
                        <!-- Image -->
                        <div class="thumb">
                            <div class="price">
                                <span>$10</span><br>/ Day
                            </div>
                            <img src="{% static 'img/mbike.jpg' %}" class="listing-img" alt="bike">
                        </div>
                        <!-- Details -->
                        <div class="detail">
                            <a href="#">
                                <h4 class="pb-20">
                                    This is the listing title
                                </h4>
                            </a>
                            <p>This is listing's desciption, for example this is a super special awesome Bike!</p>
                            <p class="footer pt-20">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>User</span>
                                <i class="ml-20 fa fa-map-marker-alt" aria-hidden="true"></i>
                                <span>Location</span>
                                <i class="ml-20 fa fa-calendar-check" aria-hidden="true"></i>
                                <span>Available Now!</span>
                            </p>
                        </div>
                    </div>

                    <!-- Listing 2 -->
                    <div class="single-list flex-row d-flex">
                        <!-- Image -->
                        <div class="thumb">
                            <div class="price">
                                <span>$15</span><br>/ Day
                            </div>
                            <img src="{% static 'img/snowboard.jpg' %}" class="listing-img" alt="snowboard">
                        </div>
                        <!-- Details -->
                        <div class="detail">
                            <a href="#">
                                <h4 class="pb-20">
                                    This is the listing title
                                </h4>
                            </a>
                            <p>This is listing's desciption, for example this is a super special awesome snowboard! Let
                                me just add
                                sojme more text here cause I'm too lazy to go to lorem ipsum for dummy text </p>
                            <p class="footer pt-20">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>User</span>
                                <i class="ml-20 fa fa-map-marker-alt" aria-hidden="true"></i>
                                <span>Location</span>
                                <i class="ml-20 fa fa-calendar-check" aria-hidden="true"></i>
                                <span>Available Now!</span>
                            </p>
                        </div>
                    </div>

                    <!-- Listing 3 -->
                    <div class="single-list flex-row d-flex">
                        <!-- Image -->
                        <div class="thumb">
                            <div class="price">
                                <span>$20</span><br>/ Day
                            </div>
                            <img src="{% static 'img/kayak.jpeg' %}" class="listing-img" alt="kayak">
                        </div>
                        <!-- Details -->
                        <div class="detail">
                            <a href="#">
                                <h4 class="pb-20">
                                    This is the listing title
                                </h4>
                            </a>
                            <p>This is listing's desciption, for example this is a super special awesome kayak</p>
                            <p class="footer pt-20">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>User</span>
                                <i class="ml-20 fa fa-map-marker-alt" aria-hidden="true"></i>
                                <span>Location</span>
                                <i class="ml-20 fa fa-calendar-check" aria-hidden="true"></i>
                                <span>Available Now!</span>
                            </p>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="justify-content-center d-flex">
                        <div class="row">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}